@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); 

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    background-color: white;

}

.header {
    width: 100%;
    height: 115vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)), url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 10px;
}



nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
	height: 55px;
    padding: 14px 10px;
    background-color: rgba(10, 10, 10, 0.7);

}


.logo{
    width: 120px;
    cursor: pointer;
}

nav a {
    margin: 15px;
    font-family: sans-serif;
    margin-left: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    padding: 1px 12px;
    font-weight: 400;
    

}

nav a:hover {
	color: rgb(219, 39, 7);

}

.stopwatch {
    border-radius: 93px 0px 81px 0px;
    width: 30%;
    height: 37%;
    background: linear-gradient(rgba(3, 3, 3, 0.7),rgba(3, 3, 3, 0.6));
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin: 50px auto;
    text-align: center;
    box-shadow: 13px 17px 30px 6px rgba(0,0,0,0.17);
}

.stopwatch h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 2px;
    font-size: 22px;
    color: rgb(243, 83, 83);
}

.stopwatch h2 {
    margin-top: 10px;
    margin-bottom: 19px;
    font-size: 50px;
    color: rgb(206, 197, 197);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button img {
    width: 50px;
    margin: 0 15px;
    cursor: pointer;
}

.bottom-header{
    display: flex;
    align-items: center;
    justify-content:center;
}

.rest {
    cursor: pointer;
    width: 24%;
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center;
    padding: 25px 0;
    margin: 24px 20px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    justify-content: center;
    border-radius: 100px;
    padding-bottom: 10px;
}

.rest:hover {
    background-color: rgba(255, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);


}

.rest h1 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: relative;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
 .rest img {
    width: 25%;
    position: relative;
    align-items: center;
    cursor: pointer;
 }

 .over {
    margin: 0;
    padding: 0;
    position: relative;
  }

.teks {
    font-size: 38px;
    color: rgb(252, 252, 252);
    position: absolute;
    text-align: center;
    bottom: 300%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }

.features {
    margin: 0;
    position: relative;
    font-size: 30px;
    padding:0 ;
    

}
.features h1{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: orange;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: center;
}


.row{
    display: flex;
    width: 100%;
    align-items:center;
    padding: 0px 0;
    
}

.text-col {
    flex-basis: 60%;
    margin-bottom: 0px;
    

}

.img-col {
    flex-basis: 60%;
    min-width: 360px;
    margin: 0;
}

.img-col img {
    width: 100%;
    cursor: pointer;
}

.overlay {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(235, 158, 15, 0.7);
  }
  .img1 {
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  .img1:hover .overlay {
    opacity: 1;
  }
  

  .text {
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .bottom {
    text-align: center;
    align-items: center;
    background: linear-gradient(rgba(10, 10, 10,1),rgba(10, 10, 10,1));
    color: white;
    position: relative;

  }

  .bottom h2 {
    font-family:quicksand;
    font-size: 23px;
    padding-top: 60px;
    font-weight: lighter;
  }

  .bottom p {
    font-family: Comfortaa;
    font-weight: 600;
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 40px;
  }
  .bottom img {
    margin-top: 25px;
    height: 50px;
    margin-left: 29px;
    width: 60px;
    margin-bottom: 60px;
  }




  .btn {
    --color: #a90300;
    --color2: rgb(10, 25, 30);
    padding: 0.2em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

@media screen and (max-width: 600px){
    .stopwatch {
        width: 64%;
        height: 28%;
        margin-bottom: 0;
        margin-left: 30%;
    }
    .stopwatch h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .button img{
        width: 55px;
        margin: 0 10px;
    }
.button img.cuy{
        width: 70px;
    }

    .rest {
        width: 34%;
        margin-top: 30px;
        margin-bottom: 50px;
        border-radius: 50px;
    
    }
    .rest h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .teks {
        font-size: 25px;
        margin-bottom: 0;
    }
    .rest img {
        width: 40%;
        margin-bottom: 0;
    }
    .bottom h2 {
        font-size: 12px;
        padding-top:50px;
    }
    .bottom p {
        font-size: 7px;
    }


   }
